name: Build rootfs

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  build-rootfs:
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        arch: [amd64, arm64]

        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm

        distro:
          - name: centos-10
            image: quay.io/centos/centos:10
            build: |
              dnf -y install xz
              dnf -y --releasever=10 --installroot="$ROOTFS_DIR" \
                --setopt=install_weak_deps=0 install \
                passwd dnf redhat-release vim-minimal util-linux systemd
              dnf --installroot="$ROOTFS_DIR" config-manager --set-enabled crb
              dnf -y --installroot="$ROOTFS_DIR" clean all

          - name: debian-sid
            image: debian:sid
            build: |
              apt-get -y update
              apt-get -y install debootstrap xz-utils
              debootstrap --include=systemd,dbus --variant=minbase sid "$ROOTFS_DIR"
              chroot "$ROOTFS_DIR" /bin/bash -c "apt-get clean"

          - name: fedora-rawhide
            image: quay.io/fedora/fedora:rawhide
            build: |
              dnf -y --releasever=rawhide --installroot="$ROOTFS_DIR" \
                --use-host-config --setopt=install_weak_deps=0 install \
                passwd dnf fedora-release nano util-linux systemd systemd-networkd
              dnf -y --installroot="$ROOTFS_DIR" clean all

          - name: ubuntu-questing
            image: ubuntu:rolling
            build: |
              apt-get -y update
              apt-get -y install debootstrap xz-utils
              debootstrap --include=systemd,dbus --variant=minbase questing "$ROOTFS_DIR"
              chroot "$ROOTFS_DIR" /bin/bash -c "apt-get clean"

    container:
      image: ${{ matrix.distro.image }}

    env:
      ROOTFS_DIR: ${{ github.workspace }}/${{ matrix.distro.name }}-${{ matrix.arch }}-rootfs
      TARBALL: ${{ github.workspace }}/${{ matrix.distro.name }}-${{ matrix.arch }}-rootfs.tar.xz

    steps:
      - name: Build rootfs
        run: ${{ matrix.distro.build }}

      - name: Prepare tarball
        run: tar -C "$ROOTFS_DIR" -cJf "$TARBALL" .

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.distro.name }}-rootfs-${{ matrix.arch }}
          path: ${{ env.TARBALL }}
          retention-days: 3

  release:
    runs-on: ubuntu-latest
    needs: build-rootfs
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          RELEASE_DATE="$(date -u +'%Y-%m-%d %H:%M UTC')"
          sha256sum *.tar.xz > SHA256SUMS
          gh release delete --cleanup-tag --yes latest || true
          gh release create latest --title "Latest build ($RELEASE_DATE)" *.tar.xz SHA256SUMS
